<form action="/authors">
    <label>Name</label>
    <input type="text"name='name'value="<%= searchOptions.name%>">
    <button type="submit">Search</button>

    <% authors.forEach(author) =>{%>
        <%= author.name%>
        <a href="/authors/<%=author.id%>">View</a>
        <a href="/authors/<%=author.id/edit%>">Edit</a>
        <%- include('../partials/deleteForm',{
            url:`/authors/${author.id}`})
        %>    
    <%}%>
</form>